
*.rsp
*.dll
*.pdb
*.uasset
*.umap
*.response
*.lib
*.exp
*.ini
*.dmp
*.runtime-xml
*.code-workspace
*.log
*.old
*.obj
Intermediate/Build/Win64/UnrealEditor/Inc/SimpleShooter/Timestamp
*.png
*.uproject
*.bin
*.deps
*.uhtmanifest
*.dat
*.state
*.pch
*.uhtpath
*.modules
*.target
*.ush
*.exe
*.res
*.ubulk
*.uexp
*.ushaderbytecode
